includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/
        - config/
        - routes/
        - tests/
    level: 5
    reportUnmatchedIgnoredErrors: false
